body {
  overflow: hidden;
}

.container-fluid {
  height: 100%;
  background-color: #afb8ca;
}

.login-area-wrapper {
  background-color: #feffff;
  width: 60%;
  height: 40%;
  margin: auto;
  min-height: 300px;
  min-width: 500px;
}

.chat-area {
  height: 100%;
  display: none;
}

.users-area {
  background-color: #feffff;
  border-right: 1px solid #878787;
  border-top: 1px solid transparent;
  float: left;
  height: 100%;
}

.message-area {
  height: 100%;
  background-color: #eef5f7;
  float: right;
}

.display-message-area {
  height: 90%;
  border-top: 1px solid transparent;
  overflow: scroll;
}

.display-message-area .messages li {
  padding: 10px;
}

.display-message-area .messages li:nth-child(odd) {
  background-color: #afd8ca;
}

.message-form-area {
  border-top: 1px solid #39da8a;
  background-color: #eef5f7;
  height: 10%;
}
